<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CovidApp</title>
   <link rel="stylesheet" href="./css/corona.css">
</head>

<body>
   <div class="main-content">
      {{>header}}
      <h2 id="des">World Update</h2>
      <p id="field6"></p>
      <p id="field7"></p>
      <p id="field8"></p>
      <h2 id="des">Get corona update by country</h2>
      <form>
         <input type="text" placeholder="Country">
         <input type="submit" value="Search">
      </form>
      <div id="buttonContainer">
         <button id="locationButton">Get Update of Your Location</button>
      </div>
   </div>
   <div id="updates">
      <p id="field1"></p>
      <p id="field2"></p>
      <p id="field3"></p>
      <p id="field4"></p>
      <p id="field5"></p>
      <p id="field10"></p>
   </div>
   </div>
   {{>footer}}

   <script src="/socket.io/socket.io.js"></script>
   <script src="/js/covid.js"></script>
</body>

</html>