<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CovidApp</title>
   <link rel="stylesheet" href="./css/corona.css">
</head>

<body>
   <div class="main-content">
      {{>header}}
      <p id="des">Get corona update by country</p>
      <form>
         <input type="text" placeholder="Country">
         <input type="submit" value="Search">
      </form>
      <div id="updates">
         <p id="field1"></p>
         <p id="field2"></p>
         <p id="field3"></p>
         <p id="field4"></p>
      </div>
   </div>
   {{>footer}}

   <script src="/js/covid.js"></script>
</body>

</html>