body{
   color:#333333;
   font-family: arial;
   max-width:650px;
   margin:0 auto;
   padding: 0 16px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
header{
   margin-top: 16px;
   margin-bottom: 48px;
}
#head{
   text-align: center;
   font-size: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
}
footer{
   color:#888888;
    border-top:  1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
 }
 .main-content{
   flex-grow: 1;
}
form{
   text-align: center;
}
input[type=text] {
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 input[type=submit] {
   background-color:rgb(59, 59, 230);
   color:white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 #des{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
 }
 #updates{
    text-align: center;
 }
 #field1{
   font-family: Georgia, serif;
 }
 #field2{
   font-family: Georgia, serif;
}
#field3{
   font-family: Georgia, serif;
}
#field4{
   font-family: Georgia, serif;
}
#field5{
   font-family: Georgia, serif;
}
#field6{
   font-family: Georgia, serif;
   text-align: center;
}
#field7{
   font-family: Georgia, serif;
   text-align: center;
}
#field8{
   font-family: Georgia, serif;
   text-align: center;
}
#buttonContainer{
   text-align: center;
}
#locationButton{
   background-color:rgb(59, 59, 230);
   font-family: Arial;
  border: none;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}